<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body  class="text-center">
  <!--Buscador-->
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <!-- <header class="mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Contact</a>
            </nav>
          </div>
    </header> -->
    <main class="inner cover">
      <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <!--<input (keyup)="filtrar()" [(ngModel)]="searchText" placeholder="Buscar..." type="text" class="typeahead form-input input_1"
                  name="searchText">-->
                  <input class="form-control input_1" type="text" placeholder="Buscar..." aria-label="Buscar" (keyup)="filtrar()" [(ngModel)]="searchText" name="searchText">
              </div>
            </div>
      
          <!--Boton Modal-->
      
            <div class="col-sm-8 mr-10 button_1">
              <button class="btn btn-lg btn-primary" (click)="open(mymodal)">
                <fa-icon [icon]="faUser"></fa-icon> Agregar</button>
            </div>
      </div>
          <!--Tabla-->

    <div class="row table_1">
        <div class="col-sm">
          <table id="Datos" style="border:2px" class="table table-striped">
            <thead>
              <tr>
                <th class="bg-primary">Id</th>
                <th class="bg-primary">Nombre</th>
                <th class="bg-primary">Apellido</th>
                <th class="bg-primary">Teléfono</th>
                <th class="bg-primary">Edad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuariosfiltrados">
                <td>
                  {{usuario.Id}}
                </td>
                <td>
                  {{usuario.Nombre}}
                </td>
                <td>
                  {{usuario.Apellido}}
                </td>
                <td>
                  {{usuario.Telefono}}
                </td>
                <td>
                  {{usuario.Edad}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
        <!--Modal-->

        <ng-template #mymodal let-modal>
            <form #formUsuario = "ngForm" [formGroup]="form" novalidate>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Ingresar datos Usuario</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
              <input class="form-control" type="text" name="id" placeholder="Id" [(ngModel)]="_usuario.Id" formControlName="id">
                <span *ngIf="!_usuario.Id && reset" class="mierror">Este campo es requerido</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="_usuario.Nombre" formControlName="nombre">
              <span *ngIf="!_usuario.Nombre && reset" class="mierror">Este campo es requerido</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="apellido" placeholder="Apellido" [(ngModel)]="_usuario.Apellido" formControlName="apellido">
              <span *ngIf="!_usuario.Apellido && reset" class="mierror">Este campo es requerido</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="tel" placeholder="Teléfono" [(ngModel)]="_usuario.Telefono" formControlName="tel">
              <span *ngIf="!_usuario.Telefono && reset" class="mierror">Este campo es requerido y acepta solo números</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="edad" placeholder="Edad" [(ngModel)]="_usuario.Edad" formControlName="edad">
              <span *ngIf="!_usuario.Edad && reset" class="mierror">Este campo es requerido y acepta solo números</span>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" aria-label="Close" (click)="adduser(modal)">Guardar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="modal.close('Save click')">Cerrar</button>
            </div>
            </form>
          </ng-template>
    </main>
  </div>
  
  <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
</body>

</html>